@import './base';

$content-max-width: 1200px;

#layout-admin {
    width: 100%;
    max-width: $content-max-width;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 1em;
    min-height: 100vh;
    background-color: rgba($color-anti-flash-white, .35);
    header, main, footer {
        padding: 1em 0;
    }
    header {
        .base-heading {
            font-family: InterMedium;
            font-size: $font-size-m;
            text-align: center;
        }
    }
    main {
        flex: 1;
        #redirect-to-home-container {
            margin-bottom: 1.25em;
            padding: 0 .25em;
            .base-a {
                display: inline-flex;
                align-items: center;
                color: $theme-color-celtic-blue;
                svg {
                    fill: $theme-color-celtic-blue;
                    margin-right: .5em;
                    height: 20px;
                    width: 20px;
                }
            }
        }
        #submit-status-container {
            margin-bottom: 2em;
            .base-p {
                text-align: center;
                padding: .75em .5em;
                border-radius: 5px;
                color: $color-white;
                letter-spacing: .25px;
            }
            .success-msg {
                background-color: $theme-color-mint;
            }
            .error-msg {
                background-color: $theme-color-fire-engine-red;
            }
            .info-msg {
                background-color: $theme-color-celtic-blue;
            }
        }
    }
    footer {
        .base-ul {
            display: flex;
            align-items: center;
            column-gap: 1em;
            .base-li {
                .base-button {
                    border-radius: 100px;
                    padding: 1em;
                    border: none;
                    background-color: $color-black;
                    svg {
                        height: 20px;
                        width: 20px;
                        fill: $color-white;
                    }
                }
            }
            #driver-action-button-container {
                flex: 1;
                .base-button {
                    color: $color-white;
                    font-size: $font-size-xs;
                    font-family: InterMedium;
                    border: none;
                    width: 100%;
                    margin: auto;
                    border-radius: 100px;
                    justify-content: center;
                    line-height: 1;
                    letter-spacing: .5px;
                    .base-span {
                        font-size: $font-size-xs;
                    }
                }
            }
        }
    }
}
