// Font Size
$font-size-l: 22px;
$font-size-m: 18px;
$font-size-s: 16px;
$font-size-xs: 14px;
$font-size-2xs: 12px;

// Color
$color-black: #000000;
$color-slate-gray: #6C757D;
$color-french-gray: #CED4DA;
$color-anti-flash-white: #E9ECEF;
$color-white: #FFFFFF;

// Theme Color
$theme-color-fire-engine-red: #D90429;
$theme-color-celtic-blue: #4072D6;
$theme-color-mint: #02c39a;
$theme-color-selective-yellow: #FFB703;